/* @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@800&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");

*  {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  /* font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
  /* Only use serif or san serif for your design */
  font-family: raleweay, "open sans", Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 2.5rem;
  background-color: #def2f1;
}

ul,
section {
  margin-bottom: 60px;
}

p {
  margin-bottom: 24px;
}

article {
  margin-bottom: 35px;
}

cite {
  font-size: 18px;
  color: #555555;
  line-height: 0.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  /* font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
  /* font-family: raleweay, "open sans", Arial, Helvetica, sans-serif; */
  font-family: raleway, Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}

h1 {
  font-size: 40px;
}

h2 {
font-size: 32px;
margin-bottom: 14px;
}

h3 {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #55bbff;
}

a:hover {
color: #5555ff;
text-decoration: underline;

}

a:visited {
  color: #b855ff;
}

a:active {
  color: #b855ff;
  opacity: 0.5;
}

img {
  border: 1px solid #cccccc;
  padding: 5px;
}

.main-header {
  background-color: #3aafa9;
	color: #ffffff;
}

.main-header h1 {
	margin: 0;
}

.main-header div {
	max-width: 860px;
	margin: 0 auto;
	padding: 20px 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.main-nav {
	grid-column: 2/4;
}

.main-nav ul {
	list-style: none;
	margin-left: auto;
	margin-bottom: 0;
	width: fit-content;
	display: flex;
}

.main-nav ul li {
	padding: 5px 10px;
}

.main-header ul li a {
	color: #ffffff;
}

.main-header ul li a:hover {
	color: #ffffff;
	opacity: 0.7;
}

main {
	max-width: 860px;
	margin: 0 auto;
	padding: 60px 0;
}

table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	font-family: sans-serif;
	min-width: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
	background-color: #3aafa9;
	color: #ffffff;
	text-align: left;
}

table th,
table td {
	padding: 12px 15px;
}

table tbody tr {
	border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

table tbody tr:last-of-type {
	border-bottom: 2px solid #3aafa9;
}

table tbody tr.active-row {
	font-weight: bold;
	color: #3aafa9;
}

footer {
	font-size: 18px;
	background-color: #3aafa9;
	color: #ffffff;
	padding: 35px 0;
}

footer p {
	margin-bottom: 0;
}

.footer-wrapper {
	max-width: 860px;
	margin: auto;
}

footer a {
	color: #f0f0f0;
	text-decoration: underline;
}
