@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');

body {
  font-family: Arimo;
  font-size: 20px;
}


a {
  color: orange;
  text-decoration: none;

}

a:hover {
  background-color: green;
}

.bettertable {
  border-collapse: collapse;
}

.bettertable {
  border: 1px solid black;
}

.bettertable {
  width: 100%;
}

.bettertable {
  height 50px;
}

.bettertable {
  text-align: center;
}
