@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body {
  font-family: Roboto Condensed;
  font-size: 18px;
}

.school-link a {
  color: orange;
  text-decoration: none;
}

.school-link a:hover {
  background-color: lightgreen;
}

.digits a {
  color: forestgreen;
  text-decoration: none;
}

.digits a:hover {
  background-color: OrangeRed;
}

.mail a {
  text-decoration: none;
  color: lightgreen;
}

.mail a:hover {
  background-color: orange;
}

.bettertable {
  border-collapse: collapse;
}


.bettertable {
  border:1px solid black;
}

.bettertable {
  width: 70%
}

.bettertable {
  height: 50px;
}

.bettertable {
  text-align: center;
}

.bettertable {
  padding: 15px;
  text-align: center;
}
.bettertable {
  background-color: #4CAF50;
  color: white;
}
