@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

body {
  width: 900px;
  margin: 0 auto;
  border: 0px solid blue;
}

body {
  background-image:url(background2.jpg);
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-size: 80px;
  font-family: Fredoka One;
}

h1 {
  border-style: solid;
  border-width: 5px;

}

.catchy {
  border-style: solid;
  border-width: medium;
}



.catchy {
  text-align: center;
  font-size: 40px;
}

nav {
  margin-bottom: 150px;
}

section {
  margin-bottom: 4%;
}


.grid2-container {
  display: grid;
  grid-gap: 2%
}
.grid2-hed {
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid2-img {
  grid-column: 1/2;
  grid-row: 2/3;
}

.grid2-text {
  grid-column: 2/3;
  grid-row: 2/3;
}
.grid2-img {
  height: 140px;
  width; 100px;

}

.grid3-container {
  display: grid;
  grid-gap: 2%
}
.grid3-hed {
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid3-img {
  grid-column: 1/2;
  grid-row: 2/3;
}

.grid3-text {
  grid-column: 2/3;
  grid-row: 2/3;
}
.grid3-img {
  height: 140px;
  width; 100px;

}
.grid3-container {
  display: grid;
  grid-gap: 2%
}
.grid4-hed {
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid4-img {
  grid-column: 1/2;
  grid-row: 2/3;
}

.grid4-text {
  grid-column: 2/3;
  grid-row: 2/3;
}
.grid4-img {
  height: 140px;
  width; 100px;

}

.grid5-container {
  display: grid;
  grid-gap: 2%
}
.grid5-hed {
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid5-img {
  grid-column: 1/2;
  grid-row: 2/3;
}

.grid5-text {
  grid-column: 2/3;
  grid-row: 2/3;
}
.grid5-img {
  height: 140px;
  width; 100px;

}






footer {
  margin-top: 120px;
  border-top: 3px solid #556b2f;
  padding-top: 10px;
  height: 150px;
}
